{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h2 class="mb-3">{% trans "Página de inicio - Tienda En Linea" %}</h2>
{% if top_comentarios %}
<div>
    <h1>{% trans "Top Patrones Mejor Calificados" %}</h1>
    <ul>
        {% for comentario in top_comentarios %}
        <li>
            <h2>{{ comentario.publicacion.nombre }}</h2>
            <p>{% trans "Calificación Promedio:" %} {{ comentario.calificacion }}</p>
            <p>{% trans "Autor:" %} {{ comentario.autor }}</p>
            <p>{% trans "Comentario:" %} {{ comentario.comentario }}</p>
            <!-- Puedes agregar más detalles aquí si lo deseas -->
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>{% trans "No hay patrones mejor calificados disponibles." %}</p>
{% endif %}

{% endblock %}
