{% extends 'base.html' %}

{% block title %} Crear Patrón {% endblock %}

{% block content %}

<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">Crear Patrón</div>

          <div class="card-body">

            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul class="list-unstyled">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="POST" action="{% url 'cpatron' %}" enctype="multipart/form-data">

              {% csrf_token %}

              <div class="form-group">
                <label for="id_nombre">Nombre:</label>
                <input type="text" class="form-control" id="id_nombre" placeholder="Ingresar nombre" name="nombre" value="{{form.data.nombre }}">
              </div>

              <div class="form-group">
                  <label for="id_detalles">Detalles:</label>
                  <textarea class="form-control" id="id_detalles" placeholder="Especificar detalles del patrón" name="detalles" rows="5" columns="30">{{form.data.detalles }}</textarea>
              </div>

              <div class="form-group">
                  <label for="id_alto">Alto (cm):</label>
                  <input type="number" step="1" min="1" class="form-control" id="id_alto" placeholder="Ingresar alto (cm)" name="alto" value="{{form.data.alto }}">
              </div>

              <div class="form-group">
                  <label for="id_tamaño">Tamaño:</label>
                  <select class="form-control" id="id_tamaño" name="tamaño">
                      <option value="GR">Grande</option>
                      <option value="MD">Mediano</option>
                      <option value="PQ">Pequeño</option>
                  </select>
              </div>

              <div class="form-group">
                <label for="id_imagen">Imagen:</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="id_imagen" name="imagen">
                    <label class="custom-file-label" for="id_imagen">Choose file</label>
                </div>
              </div>

              <div class="form-group">
                  <label for="id_precio">Precio (COP):</label>
                  <input type="number" step="1" min="1" class="form-control" id="id_precio" placeholder="Ingresar precio (COP)" name="precio" value="{{form.data.precio}}">
              </div>

              <div class="form-group">
                  <label for="id_descuento">Descuento de precio (%):</label>
                  <input type="number" step="1" min="0" class="form-control" id="id_descuento" placeholder="Ingresar descuento de precio (%)" name="descuento" value="{{form.data.descuento}}">
              </div>

              <button type="submit" class="btn btn-primary">Enviar</button>

            </form>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

{% endblock %}