{% extends '../base.html' %} 

{% block title %} {{title}} {% endblock %} 

 

{% block content %} 

<div class="container"> 

  <div class="row justify-content-center"> 

    <div class="col-md-8"> 

      <div class="card"> 

        <div class="card-header">Crear Patrón</div> 

          <div class="card-body"> 

            {% if form.errors %} 

                <ul id="errors" class="alert alert-danger list-unstyled"> 

                {% for field, errors in form.errors.items %} 

                    {% for error in errors %} 

                        <li>{{ error }}</li> 

                    {% endfor %} 

                {% endfor %} 

                </ul> 

            {% endif %} 

 

            <form method="POST" action="{% url 'cpatron' %}"> 

              {% csrf_token %} 

              <input type="text" class="form-control mb-2" placeholder="Ingresar nombre" name="nombre" value="{{form.data.nombre }}" /> 
              
              <input type="textarea" class="form-control mb-2" placeholder="Especificar detalles del patron" name="detalles" value="{{form.data.detalles }}" rows = "5" columns="30"/> 
              

              <input type="number" step=1 min="1" class="form-control mb-2" placeholder="Ingresar alto (cm)" name="alto" value="{{form.data.alto }}"/> 
              <input type="number" step=1 min="1" class="form-control mb-2" placeholder="Ingresar ancho (cm)" name="ancho" value="{{form.data.ancho }}"/> 
              <input type="number" step=1 min="1" class="form-control mb-2" placeholder="Ingresar profundidad (cm)" name="profundidad" value="{{form.data.profundidad }}"/> 
              <input type="number" step=1 min="1" class="form-control mb-2" placeholder="Ingresar precio (COP)" name="precio" value="{{form.data.precio}}"/> 
              <input type="submit" class="btn btn-primary" value="Enviar" /> 

            </form> 

          </div> 

        </div> 

      </div> 

    </div> 

  </div> 

</div> 

{% endblock %} 